* {
    margin: 0;
    padding: 0;
}
#search {
    width: 50%;
    margin-left: 200px;
    padding-top: 0px;
}

#search-box {
    width: 490%;
    height: 25px;
    border-radius: 10px;
    padding: 10px;
    background-color: #e9e9e9;
    margin: -190px;
    border: 0px;
    border-radius: 24px;
}
header img {
    padding: 15px;
    width: 48px;
    height: 48px;
}
.button {
    
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    border-radius: 50%;
}
.binicio {
    font-weight: bold;
    background-color: black;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    box-sizing: border-box;
    padding: 17px;
    display: block;
    flex-basis: auto;
    font-size: 12px;
    height: 42px;
    flex-grow: 0;
    flex-shrink: 0;
    min-width: 60px;
    text-size-adjust: 100%;
    text-decoration-style: solid;
}
.bhoy {
    color: black;
    font-weight: bold;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    box-sizing: border-box;
    padding: 17px;
    display: block;
    flex-basis: auto;
    font-size: 12px;
    height: 42px;
    flex-grow: 0;
    flex-shrink: 0;
    min-width: 60px;
    text-size-adjust: 100%;
    text-decoration-style: solid;
}
.bhoy:hover {
    background-color: #bdbdbdb4;
}
.contenedorheader1 {
    padding-top: 30px;
    height: 56px;
    width: 856px;
    display: flex;
    align-items: center;
    box-sizing: center;
    flex-direction: row;
    padding-left: 16px;
    padding-right: 16px;
}
.lupa {
    margin-left: -180px;
    position:absolute;
    z-index: 1;
    color: gray;
    display: block;
    fill: gray;
    font-size: 12px;    
    height: 16px;
    overflow-x: hidden;
    overflow-y: hidden;
    stroke-width: 0px;
    text-size-adjust: 100% ;
    width: 16px;    
}
.campana {
    position: absolute;
    margin-left: 2350px;
    max-width: 27px;
    max-height: 27px;
}
.coment {
    position: absolute;
    margin-left: 2400px;
    max-width: 27px;
    max-height: 27px;
}
.LetraA {
    position: absolute;
    margin-left: 2450px;
    max-height: 27px;
    max-width: 27px;
}
