@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');

body{
    background-color: brown;
}
header{
    background-color: aqua;
}
.blanco{
    font-family: 'Times New Roman';
    font-size: 26px;
}
section{
    border: purple 10px dashed;
  background-color: #ffffff;
  width: 100%;
}
.colores
    {
        border: red solid 10px;
        border-top-color: red;
        border-right-color: chartreuse;
        border-bottom-color: yellow;
        width: 50%;
    }
    p{
        font-family: 'Hurricane', cursive;
    }

    

